.main-head {
	margin-top: 3%;
}
.main-logo-border {
	width: 155px;
	height: 55px;
	border: 3px solid #706b73;
	text-align: center;
	line-height: 49px;
}
.main-logo-border p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #494949; 
}
.color-logo {
	color: #fa9179;
}
.main-nav-bar {
	width: 35px;
	position: relative;
	float: right;
	margin-top: 28px;
}
.line {
	display: block;
	width: 34px;
	height: 4px;
	background-color: #706b73;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.line:before {
position: absolute;
right: 0;
top: 50%;
-webkit-transform: translateY(-9px);
-ms-transform: translateY(-9px);
-o-transform: translateY(-9px);
transform: translateY(-9px);
content: '';
width: 34px;
height: 4px;
background-color: #706b73;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
.line:after {
position: absolute;
right: 0;
top: 50%;
-webkit-transform: translateY(5px);
-ms-transform: translateY(5px);
-o-transform: translateY(5px);
transform: translateY(5px);
content: '';
width: 34px;
height: 4px;
background-color: #706b73;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
